:root {
    --black: #3E3232;
    --accent1: #588B8B;
    --accent2: #ACC5C5;
    --grey: #F1F1F1;
    --white: #FFFFFF;
}

body {
    overflow-x: hidden;
    text-align: center;
    align-items: center;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: var(--backgroundColor);
}

.menu {
    color: var(--black);
    border: 0cm;
    background-color: rgba(0,0,0,0);
    font-size: 25px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;    
}

#menu-container {
    background-color: var(--accent2);
    margin: auto;
    width: 100%;
    padding: 10px;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
}

.kafelek {
    background-color: var(--grey);
    margin: 30px;
    border-radius: 30px;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.5);
    position: relative;
}

.sala {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 48px;
    position: absolute;
    right: 10px;
    margin: 0;
    margin-top: 2px;
}